# Mac metadata
.DS_Store
**/.DS_Store

# R workspace files
.RData
.Rhistory

# Snakemake artifacts
.snakemake/
*.log
{log}


# Python cache
__pycache__/
*.pyc
*.pyo

# General outputs (don't commit results)
results/
logs/